<% @genres.each do |genre| %>
  <% cache genre do %>
    <%= render genre %>
  <% end %>
<% end %>
<% if current_user_admin? %>
  <section class="admin">
    <%= link_to "Add New Genre", new_genre_path %>
  </section>
<% end %>