<% content_for_title(@page_title) %>

<%= render partial: "genre", collection: @genres, cached: true %>

<% if current_user_admin? %>
  <section class="admin">
    <%= link_to "Add New Genre", new_genre_path %>
  </section>
<% elsif true %>
  <section class="admin">
    <%= render "shared/disabled_button", label: "Add New Genre" %>
  </section>
<% end %>
