<span tabindex="0" data-toggle="tooltip" title="Please log in as an admin">
  <div class="checkboxes">
    <input type="checkbox" id="<%= id %>" disabled="true">
    <label for="<%= id %>">
      <%= label %>
    </label>
  </div>
</span>